.todos {
    &_main {
        width: 100%;
        max-width: 767px;
        margin-right: auto;
        margin-left: auto;
    }
    &__filters {
        display: flex;
        flex-wrap: wrap;

        margin-right: -5px;
        margin-bottom: 20px;
        margin-left: -5px;
        &-item {
            width: calc(25% - 10px);
            margin-right: 5px;
            margin-left: 5px;

            cursor: pointer;
            text-align: center;

            color: #4a148c;
            border: 1px solid #4a148c;

            @include below(map-get($breaks, mobile)) {
                width: calc(100% - 10px);
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &.is-active {
                color: #fff;
                background-color: #4a148c;

                font-weight: bold;
            }
        }
    }

    &__add {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 20px;
        padding: 5px;
        padding-left: 0;

        @include below(map-get($breaks, mobile)) {
            justify-content: center;
        }
        .todos__btn {
            margin-right: 0 !important;
        }
        .icon_add {
            color: #4a148c;
        }
    }

    &__field {
        flex: 1 1 auto;

        @include below(map-get($breaks, mobile)) {
            flex: none;

            width: 100%;
            margin-bottom: 10px;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        flex-direction: column;

        padding-right: 5px;
        padding-left: 5px;

        span {
            font-size: 12px;
        }
        input {
            cursor: pointer;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__placeholder {
        text-align: center;
    }

    &__item {
        display: flex;
        align-items: center;

        margin-bottom: 20px;
        padding: 5px;

        border: 1px solid #ccc;
        border-radius: 5px;
        &:last-child {
            margin-bottom: 0;
        }

        &_completed {
            opacity: 0.4;
            .todos__text {
                text-decoration: line-through;
            }
        }

        &_important {
            .todos__text {
                font-weight: 700;
            }
        }
    }

    &__text {
        flex: 1 1 auto;

        padding-right: 40px;

        user-select: none;
        text-transform: uppercase;
    }

    &__btn {
        flex: 0 0 40px;

        max-width: 40px;
        height: 40px;
        padding: 0;

        cursor: pointer;

        border: none;
        border-radius: 0;
        outline: none;
        background-color: transparent;

        appearance: none;
        @include below(map-get($breaks, mobile)) {
            flex: 0 0 50px;

            max-width: 50px;
            height: 50px;
        }
        .icon {
            font-size: 20px;

            @include below(map-get($breaks, mobile)) {
                font-size: 30px;
            }
            @include transition('transform');
            &:hover {
                transform: scale(1.5);
            }
        }
        .icon_success {
            color: green;
        }

        .icon_remove {
            color: red;
        }

        &:first-of-type {
            margin-right: 10px;
        }
    }
}
